* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: white;
}

.header {
  background-color: #ff0000;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav a:hover,
.nav .activo {
  color: black;
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  background: yellow;
  height: 4px;
  width: 25px;
  margin: 3px;
}

.contenedor {
  padding: 40px 20px;
}

.encabezado {
  background: linear-gradient(135deg, red, #ffcc00);
  text-align: center;
  padding: 80px 20px;
  color: black;
}

.encabezado h1 {
  font-size: 3em;
  margin: 0;
}

.encabezado p {
  font-size: 1.3em;
  font-weight: bold;
}

.introduccion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background-color: #222;
  color: #f1f1f1;
}

.introduccion img {
  width: 40%;
  border: 5px solid red;
  border-radius: 10px;
}

.introduccion .texto {
  width: 55%;
}

.heroes {
  background: linear-gradient(180deg, #ff0000, #000);
  padding: 70px 30px;
  text-align: center;
}

.heroes h2 {
  color: #ffcc00;
  font-size: 2.5em;
}

.tarjetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.tarjeta {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid yellow;
  border-radius: 15px;
  width: 280px;
  padding: 20px;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px yellow;
}

.tarjeta img {
  width: 100%;
  border-radius: 10px;
}

.tarjeta h3 {
  color: #ffcc00;
}

.historia {
  background-color: #000;
  color: #fff;
  padding: 60px 40px;
  line-height: 1.8;
  font-size: 1.2em;
  text-align: center;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
}

.historia h2,
.historia h3 {
  color: yellow;
  margin-bottom: 10px;
}

.historia p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.frase {
  background: #ffcc00;
  color: black;
  padding: 80px 20px;
  text-align: center;
  font-style: italic;
}

.frase span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

footer {
  background-color: #ff0000;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  color: yellow;
}
