* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   background-color: #7ecfec;
  color: #333;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: #000000;
  color: white;
  padding: 20px 40px;
}

.logo h1 {
  font-size: 1.5em;
  letter-spacing: 2px;
  border: 2px solid white;
  padding: 5px 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}

.menu a:hover {
  color: #d4af37;
}

.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: brightness(0.8);
}

.buscador {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.buscador input {
  border: none;
  padding: 10px 20px;
  width: 250px;
  outline: none;
}

.buscador button {
  background-color: #d4af37;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contenido {
    
   
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.contenido h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #111;
}

.articulo {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.articulo img {
  width: 40%;
  object-fit: cover;
}

.texto {
  padding: 20px;
}

.texto h3 {
  color: #111;
  margin: 10px 0;
}

.autor {
  font-size: 0.9em;
  color: #777;
}

.info {
  color: #999;
  margin-top: 10px;
  font-size: 0.9em;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  font-size: 0.9em;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .articulo {
    flex-direction: column;
  }

  .articulo img {
    width: 100%;
    height: 200px;
  }

  .buscador input {
    width: 180px;
  }
}
